body {
  background-color: #111;
  color: white;
  text-align: center;
  font-family: "標楷體", serif;
}
canvas {
  border: 2px solid white;
  margin-top: 10px;
  background: #222;
}
#taskBox {
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  background: #333;
  border: 2px solid #ccc;
  padding: 20px;
  color: white;
  z-index: 10;
}
.hidden {
  display: none;
}
button {
  margin-top: 10px;
  padding: 6px 12px;
}
